name: upload artefacts to release on new tag

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: create release package
        run: touch my-release.txt
      - name: attach artefacts to release
        uses: softprops/action-gh-release@v1
        with:
          files: my-release.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
